#blog{
    background-color: #edf1ff;
}

#blog .card-content{
    padding: 20px 20px 40px;
}

#blog .date{
    font-size: 12px;
    color: $mainYellow;
    font-family: "Rubik";
    font-weight: 400;
    font-style: italic;
}

#blog .title{
    font-size: 24px;
    color: #252525;
    font-family: "Nunito";
    font-weight: 700;
}

#blog .card-title{
    font-size: 16px;
    color: #9599a2;
    font-family: "Nunito";
    font-weight: 400;
}

.author{
    font-size: 15px;
    color: #252525;
    font-family: "Nunito";
    font-weight: 400;
    font-style: italic;
    line-height: 30px;
}

.rounded-borders{
    border-radius: 30px;
}

