.btn.btn-general{
    text-transform: uppercase;
    border-radius: 3px;
    background-color: $mainYellow;
    font-size: 12px;
    color: #fefefe;
    font-family: "Rubik";
    padding: 10px 30px;
}

.btn.btn-rounded{
    border-radius: 25px;
    box-shadow: 0 0 10.5px rgba(204,204,223,0.5);
}