#events{
    background-color: #edf1ff;
}

.bg-blue{
    background-color: #0086ff;
}

.bg-red{
    background-color: #ee2930;
}

.bg-dblue{
    background-color: #544cf9;
}

.bg-yellow{
    background-color: #ffa502;
}

.bg-white{
    background-color: #ffffff;
    opacity: 0.6;
    border: 1px solid #d5d5d3;
}

.event-card{
    margin: 20px 60px 20px 15px;
    padding: 0 20px; 
}

.event-card .event-date{
    font-size: 14px;
    color: #fdfdfe;
    font-family: "Nunito";
    font-weight: 100;
    padding-top: 10px;
    margin-bottom: 7px;
}

.event-card .day{
    font-size: 24px;
    font-weight: 600;
}

.event-card .event-year{
    font-size: 32px;
    color: #FFF;
    font-weight: bold;
}

.event-details{
    padding: 15px 15px 15px 30px;
}

.event-name{
    font-size: 16px;
    font-family: "Nunito";
    font-weight: 700;
}

.timings{
    color: #777;
}