.join-section{
    background-image: url('../assets/images/background-yellow.jpg');
    color: #FFF;
}

a.black{
    color: #333;
}

.button-white{
    background: #FFF;
    padding: 10px 50px;
    color: #000;
    position: relative;
    bottom: 40px;
    left: 90%; 
    border-radius: 30px;
}

.join-section p{
    font-size: 14px;
    position: relative;
    top: 20px;
}

.join-section h2{
    position: relative;
    top: 10px;
}

.footer{
    position: absolute;
    width: 100%;
    height: 100%;
    color: #FFF;
    background-image: url('../assets/images/footer.jpg');
}

.content{
    margin-top: 10%;
    left: 3%;
}

.content .footer-hr{
    margin: 0;
    position: absolute;
    width: 20px;
    border-color: #CCC;
}

.content h2{
    font-size: 16px;
}

.content p{
    line-height: 40px;
}

.icons i{
    margin-right: 10px;
}

.icons i:hover{
    cursor: pointer;
}

.copy{
    position: absolute;
    width: 700px;
    text-align: center;
    right: 250px;
    bottom: -200px;
}

.primary{
    color: $mainYellow;
}

.logo{
    position: absolute;
    top: 10%;
    left: 12%;
}