/*******************************************
***************** HEADER *******************
*******************************************/

#head header,
#course-head header,
#contact-head,
#about-head header{
    background-color: $mainYellow;
    padding-top: 10px;
}

#head{
    min-height: 100vh;
    height: 100vh;
}

#head,
#course-head,
#contact-head #slider,
#about-head{
    background: #333;
    background: url("../assets/images/background.png") no-repeat;
}

#course-head,
#course-head,
#contact-head #slider,
#about-head{
    background: url("../assets/images/background-2.png") no-repeat;
}


.line{
    display: inline-block;
    background-color: $mainYellow;
    width: 40px;
    height: 1px;
    margin: 0 5px 10px 0;

}

p.inline-block{
    display: inline-block;
}

.image-overlay{
    background: url("../assets/images/logo.png") no-repeat;
}

.contact-details span{
    font-size: 14px;
    color: #FFF;
    margin-right: 20px;
    line-height: 40px;
}

#social-list{
    margin-top: 10px;
}

.social-icons li a{
    color: #FFF;
    margin: 10px;
}

.social-icons.dark-icons li a{
    color: #333;
}

.contact-details .social-icons li a{
    color: #AAA;
    font-size: 16px;
}

.contact-details .social-icons li.active a{
    color: $mainYellow;
}

/*******************************************
***************** NAVBAR *******************
*******************************************/

.navigation{
    padding: 20px;
}

.navigation .navbar a{
    color: #FFF;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 55px;
}

hr{
    background: #AAA;
    margin-left: 30px;
    margin-right: 30px;
}


/*******************************************
*************** NAV BUTTONS ****************
*******************************************/

.buttons{
    position: relative;
}

.buttons div{
    position: absolute;
    border-radius: 50%;
    background-color: #dfdfdf;
    width: 60px;
    height: 60px;
    top: 300px;
    left: -160px;
}

.buttons div.next{
    left: 1180px;
    width: 110px;
    height: 60px;
    border-radius: 30px;
    background-color: #464646;
}

.buttons div i{
    position: absolute;
    left: 20px;
    line-height: 60px;
    color: #FFF;
}

.buttons div.next span, 
.buttons div.next span i{
    position: absolute;
    top: 20px;
    left: 20px;
    color: #FFF;
}

.buttons div.next span i{
    left: 50px;
    top: -18px;
}

/*******************************************
***************** SLOGAN *******************
*******************************************/

.slogan-wrapper{
    padding: 40px 30px;
}

.slogan-wrapper p{
    font-size: 32px;
    color: #FFF;
    font-family: "Nunito";
    font-weight: 900;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.slogan-wrapper .important-text{
    color: $mainYellow;
    margin-bottom: 10px;
}

.slogan-wrapper p.admission-info{
    color: #ffffff;
    font-family: "Rubik";
    font-weight: 500;
}

.slogan-wrapper p.text{
    font-size: 16px;
    line-height: 24px;
    color: #fefefe;
    font-family: "Libre Baskerville";
    font-weight: 400;
    font-style: italic;
    text-transform: none;
}